body{ 
    background-image: url(./Image/Background.webp); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@tailwind base;
@tailwind components;
@tailwind utilities;